p{
    
    font-size: 50px;
    margin: 50vh auto;
    color: lightcoral;
    font-weight: bold;
    width: 200px;
    text-align: center;
}

body{
    
    display: grid;
    background-color: gainsboro;
}